[submodule "server/ee"]
	path = server/ee
	url = https://github.com/akshaysasidrn/todo-server-submodule.git
	branch = main
[submodule "frontend/ee"]
	path = frontend/ee
	url = https://github.com/akshaysasidrn/todo-frontend-submodule.git
	branch = main
